<%= render 'search' %>
<h1>
  <% if @search_query.present? %>
    <%= t '.search_results' %>
  <% else %>
    <%= t '.title' %>
  <% end %>
  (<%= @rooms.size %>)
</h1>
<%= render @rooms %>
<%#= render @rooms, locals: {the_room: current_user.rooms.first} %>